.footer {
  background-color: rgb(221, 226, 221);  
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 9%;
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
}

/* @media screen and (min-width:768px) and (min-height:405px) {
  .content, .footer {
        width: 85%;
        right: 0;
        
    }
    
       
  } */
