<div class="map" >
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">

    <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng"
      [label]="m.label">

      <agm-info-window>
        <strong>{{m.sigla}}</strong><br/>
        <span>{{m.name}}</span><br/>
        <span>{{m.logradouro}}</span><br/>
        <span>{{m.cidade}}</span><br/>
        <span>{{m.telefones}}</span><br/>
        <span>{{m.website}}</span><br/><br/>
        <a href="#">Mais Informações</a>
      </agm-info-window>

    </agm-marker>

  </agm-map>