<!--Inicio do Sidebar -->
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="width:415px; " id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large">Fechar &times;</button>
  <div class="row">
    <div class="card" style="width:500px;">
      <div class="card-header" style="text-align: center; background: #009688; color: white">
        <strong>PESQUISAR LABORATÓRIO</strong>
      </div>
      <div class="card-body">

        <form #mapaform="ngForm" (ngSubmit)="findLaboratorio()">
          <div class="input-group">
            <input type="text" class="form-control" name="mapaFiltro" placeholder="Pesquisar..." [(ngModel)]="mapaFiltro.parametro">
            <div class="input-group-btn">
              <button class="btn btn-secondary" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

  <br>

  <div class="w3-container">

    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-teal w3-right w3-round-large w3-small">Busca Avançada</button>

    <div id="id01" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom">
        <header class="w3-container w3-teal">
          <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-large w3-display-topright">&times;</span>
          <h2>Busca Avançada</h2>
        </header>

        <ngb-tabset>
          <ngb-tab title="Cidades">
            <ng-template ngbTabContent>
              <div class="container">
                <br>
                <form>
                  <div class="form-group">
                    <select multiple class="form-control" id="sel2">
                      <option>Abaetetuba</option>
                      <option>Abel Figueiredo</option>
                      <option>Acará</option>
                      <option>Afuá</option>
                      <option>Alenquer</option>
                    </select>
                  </div>
                </form>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Área de Conhecimento">
            <ng-template ngbTabContent>
              <div class="container">
                <br>
                <form>
                  <div class="form-group">
                    <select class="form-control" id="sel1">
                      <option>Ciências Agrárias</option>
                      <option>Ciências Biológicas</option>
                      <option>Ciências da Saúde</option>
                      <option>Ciencias Exatas e da Terra</option>
                    </select>
                    <br>
                    <label for="sel2">Sub-Área</label>
                    <select multiple class="form-control" id="sel2">
                      <option>Matemática</option>
                      <option>Probabilidade e Estatística</option>
                      <option>Ciencia da Computação</option>
                      <option>Astronomia</option>
                      <option>Física</option>
                    </select>
                  </div>
                </form>
              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Setor da Economia">
            <ng-template ngbTabContent>
              <div class="container">
                <br>
                <form>
                  <div class="form-group">
                    <select class="form-control" id="sel1">
                      <option>Todas</option>
                      <option>Construção</option>
                      <option>Educação</option>
                      <option>Informação e Comunicação</option>
                    </select>
                    <br>
                  </div>
                </form>
              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Cadeias Produtivas">
            <ng-template ngbTabContent>
              <div class="container">
                <br>
                <form>
                  <div class="form-group">
                    <!-- <label for="sel1">Setor da Economia</label> -->
                    <select class="form-control" id="sel1">
                      <option>Agricultura Familiar Sustentável</option>
                      <option>Biodiversidade</option>
                      <option>Cacau</option>
                      <option>Floresta Plantada</option>
                    </select>
                    <br>
                  </div>
                </form>
              </div>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>

        <div class="w3-container w3-light-grey w3-padding">
          <button class="w3-button w3-right w3-white w3-border" onclick="document.getElementById('id01').style.display='none'">Buscar</button>
        </div>
      </div>
    </div>

  </div>

  <br>

  <!--RESULTADO DA BUSCA-->

  <div class="card">
    <div class="card-header" style="text-align: center; background: #009688; color: white">
      <strong>RESULTADO DA BUSCA</strong>
    </div>

    <div class="vertical-menu" style="width:400px">

      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        <div class="list-group-item d-flex justify-content-between align-items-center" style="color: black">
          <i class="fas fa-university">
            <span class="title">Instituições</span>
          </i>
          <span class="badge badge-success badge-pill">{{instituicaos.length}}</span>

        </div>
      </a>

      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <ul class="w3-ul w3-hoverable">
          <li *ngFor="let instituicao of instituicaos">
            <div class="panel">
              <div class="panel-body">
                {{instituicao.nome}} - {{instituicao.sigla}}
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div *ngIf="laboratorios.length > 0">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
          <div class="list-group-item d-flex justify-content-between align-items-center" style="color: black">
            <i class="fas fa-vials">
              <span class="title2">Laboratórios</span>
            </i>
            <span class="badge badge-success badge-pill">{{totalLaboratorios}}</span>

          </div>
        </a>

        <div id="collapseTwo" class="collapse" data-parent="#accordion">
          <ul class="w3-ul w3-hoverable">
            <li *ngFor="let laboratorio of laboratorios">
              <div class="panel">
                <div class="panel-body">
                  <a (click)="selecionarLaboratorio(laboratorio)">
                    {{laboratorio.nome}} - {{laboratorio.sigla}}</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!--Collapse da Busca-->
      <div *ngIf="totalLaboratoriosPesquisados > 0">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
          <div class="list-group-item d-flex justify-content-between align-items-center" style="color: black">
            <i class="fas fa-vials">
              <span class="title2">Laboratórios</span>
            </i>
            <span class="badge badge-success badge-pill">{{totalLaboratorios}}</span>

          </div>
        </a>

        <div id="collapseFive" class="collapse show" data-parent="#accordion">
          <div style="margin-left: 30px">
            <details>
              <summary>Nome <span class="badge badge-info badge-pill">{{laboratorios_nome.length}}</span></summary>
              <ul class="w3-ul w3-hoverable">
                <li *ngFor="let laboratorio of laboratorios_nome">
                  <div class="panel">
                    <div class="panel-body">
                      <a (click)="selecionarLaboratorio(laboratorio)">
                        {{laboratorio.nome}} - {{laboratorio.sigla}}</a>
                    </div>
                  </div>
                </li>
              </ul>
            </details>
          </div>
          <div style="margin-left: 30px">
            <details>
              <summary>Sigla <span class="badge badge-info badge-pill">{{laboratorios_sigla.length}}</span></summary>
               <ul class="w3-ul w3-hoverable">
              <li *ngFor="let laboratorio of laboratorios_sigla">
                <div class="panel">
                  <div class="panel-body">
                    <a (click)="selecionarLaboratorio(laboratorio)">
                      {{laboratorio.nome}} - {{laboratorio.sigla}}</a>
                  </div>
                </div>
              </li>
              </ul>
            </details>
          </div>

          <div style="margin-left: 30px">
            <details>
              <summary>Descrição <span class="badge badge-info badge-pill">{{laboratorios_descricao.length}}</span></summary>
               <ul class="w3-ul w3-hoverable">
              <li *ngFor="let laboratorio of laboratorios_descricao">
                <div class="panel">
                  <div class="panel-body">
                    <a (click)="selecionarLaboratorio(laboratorio)">
                      {{laboratorio.nome}} - {{laboratorio.sigla}}</a>
                  </div>
                </div>
              </li>
              </ul>
            </details>
          </div>
        </div>
      </div>

      <!-- fim Collapse da Busca-->


      <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
        <span class="list-group-item d-flex justify-content-between align-items-center" style="color: black">
          <i class="fas fa-cogs">
            <span class="title3">Serviços</span>
          </i>
          <span class="badge badge-success badge-pill">{{servicos.length}}</span>

        </span>
      </a>

      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <ol class="w3-ul w3-hoverable">
          <li *ngFor="let servico of servicos">
            <div class="panel">
              <div class="panel-header">
                {{servico.nome}}
              </div>
              <div class="panel-body">
                {{servico.nomeLaboratorio}}
              </div>
            </div>

          </li>
        </ol>
      </div>

      <a class="card-link" data-toggle="collapse" href="#collapseFour">
        <div class="list-group-item d-flex justify-content-between align-items-center">
          <i class="fas fa-user-tie">
            <span class="title4">Pesquisadores</span>
          </i>
          <span class="badge badge-success badge-pill">{{pesquisadores.length}}</span>

        </div>
      </a>

      <div id="collapseFour" class="collapse show" data-parent="#accordion">
        <ul class="w3-ul w3-hoverable">
          <li *ngFor="let pesquisador of pesquisadores">
            <div class="panel">
              <div class="panel-body">
                {{pesquisador.firstName}}
              </div>
            </div>
          </li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header" style="text-align: center; background: #009688; color: white">
          <strong>ICONNET</strong>
        </div>
        <a class="card-link" data-toggle="collapse" href="#collapseFour">
            <span class="list-group-item d-flex justify-content-between align-items-center" >
                <i class="fas fa-vials"><span class="title4">Laboratórios</span></i>
              <span class="badge badge-success badge-pill">{{pesquisadores.length}}</span>
      
            </span>
          </a>
        </div>
  </div>
  <br>
 
</div>

</div>

<!-- Page Content -->
<div class="w3-teal">
  <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">
    <i class="fas fa-search"></i>
  </button>
</div>
<!--Fim do sidebar-->


<!--Inicio do mapa-->
<div class="map">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">

    <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label">

      <agm-info-window>
        <strong>{{m.sigla}}</strong><br/>
        <span>{{m.name}}</span><br/>
        <span>{{m.logradouro}}</span><br/>
        <span>{{m.cidade}}</span><br/>
        <span>{{m.telefones}}</span><br/>
        <span>{{m.website}}</span><br/><br/>
       <!--  <a href="#">Mais Informações</a> -->
       <div class="w3-container">

          <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-teal w3-right w3-round-large w3-small">Mais informações</button>
      
          <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom">
              <header class="w3-container w3-teal">
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-large w3-display-topright">&times;</span>
                <h2>Detalhes</h2>
              </header>
      
              <ngb-tabset>
                <ngb-tab title="Cidades">
                  <ng-template ngbTabContent>
                    <div class="container">
                      <br>
                      <form>
                        <div class="form-group">
                          <select multiple class="form-control" id="sel2">
                            <option>Abaetetuba</option>
                            <option>Abel Figueiredo</option>
                            <option>Acará</option>
                            <option>Afuá</option>
                            <option>Alenquer</option>
                          </select>
                        </div>
                      </form>
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Área de Conhecimento">
                  <ng-template ngbTabContent>
                    <div class="container">
                      <br>
                      <form>
                        <div class="form-group">
                          <select class="form-control" id="sel1">
                            <option>Ciências Agrárias</option>
                            <option>Ciências Biológicas</option>
                            <option>Ciências da Saúde</option>
                            <option>Ciencias Exatas e da Terra</option>
                          </select>
                          <br>
                          <label for="sel2">Sub-Área</label>
                          <select multiple class="form-control" id="sel2">
                            <option>Matemática</option>
                            <option>Probabilidade e Estatística</option>
                            <option>Ciencia da Computação</option>
                            <option>Astronomia</option>
                            <option>Física</option>
                          </select>
                        </div>
                      </form>
                    </div>
                  </ng-template>
                </ngb-tab>
      
              <ngb-tab title="Setor da Economia">
                  <ng-template ngbTabContent>
                    <div class="container">
                      <br>
                      <form>
                        <div class="form-group">
                         <select class="form-control" id="sel1">
                            <option>Todas</option>
                            <option>Construção</option>
                            <option>Educação</option>
                            <option>Informação e Comunicação</option>
                          </select>
                          <br>
                        </div>
                      </form>
                    </div>
                  </ng-template>
                </ngb-tab>
      
                <ngb-tab title="Cadeias Produtivas">
                  <ng-template ngbTabContent>
                    <div class="container">
                      <br>
                      <form>
                        <div class="form-group">
                          <!-- <label for="sel1">Setor da Economia</label> -->
                          <select class="form-control" id="sel1">
                            <option>Agricultura Familiar Sustentável</option>
                            <option>Biodiversidade</option>
                            <option>Cacau</option>
                            <option>Floresta Plantada</option>
                          </select>
                          <br>
                        </div>
                      </form>
                    </div>
                  </ng-template>
                </ngb-tab>
      
              </ngb-tabset>
      
              <div class="w3-container w3-light-grey w3-padding">
                <button class="w3-button w3-right w3-white w3-border" onclick="document.getElementById('id01').style.display='none'">Buscar</button>
              </div>
            </div>
          </div>
      
        </div>
       
       
          
      </agm-info-window>


    </agm-marker>

    <agm-marker [latitude]="lat" [longitude]="lng" [label]="label">
      <agm-info-window style="width: 400px" [isOpen]="openWin" [latitude]="lat" [longitude]="lng">
        <strong>{{laboratorioSelecionado.sigla}}</strong>
        <br/>
        <span>{{laboratorioSelecionado.nome}}</span>
        <br/>
        <span>{{laboratorioSelecionado.logradouro}}</span>
        <br/>
        <span>{{laboratorioSelecionado.cidade}}</span>
        <br/>
        <span>{{laboratorioSelecionado.telefones}}</span>
        <br/>
        <span>{{laboratorioSelecionado.website}}</span>
        <br/>
        <br/>
        <a href="#">Mais Informações</a>
      </agm-info-window>

    </agm-marker>

  </agm-map>
  <!--Fim do mapa-->