<div class="row">
  <div class="col-md-6">
    <div *ngFor="let cadeiaProdutiva of cadeiasProdutivas">
      <div id="accordion">
        <div class="card mb-1">
          <div class="card-header align-items-center" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" href="#cadeiaProdutiva" aria-expanded="false" aria-controls="collapseThree"
                (click)="carregarLaboratorio(cadeiaProdutiva.id)">
                <img [src]="cadeiaProdutiva.img" class="rounded-circle float-left mr-2" style="width:36px;">
                <span style="font-size: 12px; cursor: pointer; color: black;" >
                    {{cadeiaProdutiva.nome}}
                </span>
              </button>

            </h5>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-6">

    <div id="cadeiaProdutiva"  aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <div *ngIf="laboratorios.length">
          <details>
            <summary>Laboratórios:
              <span class="badge badge-info badge-pill">{{laboratorios.length}}</span>
            </summary>
            <ul class="w3-ul">
              <li *ngFor="let laboratorio of laboratorios">
                <div class="panel">
                  <div class="panel-body">
                    <a (click)="selecionarLaboratorio(laboratorio)" data-dismiss="modal" style="cursor: pointer;">
                      {{laboratorio.nome}} - {{laboratorio.sigla}}</a>
                  </div>
                </div>
              </li>
            </ul>
          </details>
        </div>
      </div>
    </div>
  </div>
</div>


