  <div class="form-group">
    <select class="form-control" id="sel1">
      <option>Ciências Agrárias</option>
      <option>Ciências Biológicas</option>
      <option>Ciências da Saúde</option>
      <option>Ciencias Exatas e da Terra</option>
    </select>
    <br>
    <label for="sel2">Sub-Área</label>
    <select multiple class="form-control" id="sel2">
      <option>Matemática</option>
      <option>Probabilidade e Estatística</option>
      <option>Ciencia da Computação</option>
      <option>Astronomia</option>
      <option>Física</option>
    </select>
  </div>