<div class="row" *ngIf="cadeiasProdutivas.length">

  <div class="col-md-12">
    <div *ngFor="let cadeiaProdutiva of cadeiasProdutivas">
      <div class="card-header align-items-center rounded border border-secondary mb-2 align-middle">
        <img [src]="cadeiaProdutiva.img" class="rounded-circle float-left mr-2" style="width:36px;">
        <ngb-accordion #acc="ngbAccordion">
          <ngb-panel id="toggle-1" title="{{cadeiaProdutiva.nome}}">
            <ng-template ngbPanelContent >
              <ul class="list-group" *ngIf="cadeiaProdutiva.laboratorios.length">
                <li class="list-group-item list-group-item-action active">Laboratórios 
                  <span class="badge badge-info badge-pill">{{cadeiaProdutiva.laboratorios.length}}</span>
                </li>
                <a (click)="selecionarLaboratorio(laboratorio)" data-dismiss="modal" class="list-group-item list-group-item-action" *ngFor="let laboratorio of cadeiaProdutiva.laboratorios">
                  {{laboratorio.nome}} - {{laboratorio.sigla}}
                </a>

              </ul>

              <ul class="list-group" *ngIf="!cadeiaProdutiva.laboratorios.length">
              
                <h6>Não há laboratórios para cadeia produtiva
                  <strong>{{cadeiaProdutiva.nome}}</strong>
                </h6>
              
              </ul>
            </ng-template>

            
          </ngb-panel>

        </ngb-accordion>
      </div>
    </div>
  </div>



</div>